@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString().ToLowerInvariant();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Areas/Admin/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Contents/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Contents/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Contents/css/index.css" rel="stylesheet" />
    @RenderSection("styles", false)

</head>
<body>
    @Html.Partial("_PartialHeader",currentController)
    <div>
        @RenderBody()


    </div>
    <script src="~/Contents/js/jquery-3.2.1.min.js"></script>
    <script src="~/Contents/js/jquery.validate.fixed.js"></script>
    <script src="~/Contents/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Contents/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Contents/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/Areas/Admin/Contents/js/moment-with-locales.js"></script>
    <script src="~/Areas/Admin/Contents/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Contents/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
