@model Web.Models.Student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Öğrenci Ekle</h2>
        <div class="col-md-4">
            <form id="student-form" method="post">
                <div class="form-group">
                    <label for="FirstName">Ad</label>
                    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
                <div class="form-group">
                    <label for="LastName">Soyad</label>
                    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <div class="form-group">
                    <label for="Age">Yaş</label>
                    @Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Age)
                    @*@{ var ms = ViewContext.ViewData.ModelState["Age"]; }
                        @if (ms != null && ms.Errors.Count > 0)
                        {
                            foreach (var e in ms.Errors)
                            {
                                <span class="help-block">@e.ErrorMessage</span>
                            }
                        }*@
                </div>
                <div class="form-group">
                    <label for="GPA">GPA</label>
                    @Html.EditorFor(m => m.GPA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.GPA)
                </div>

                <div class="form-group">
                    <label for="CityId">İl</label>
                    <select name="CityId" id="CityId" class="form-control">
                        <option>--Seçiniz--</option>
                    </select>
                    @Html.ValidationMessageFor(m => m.CityId)
                </div>


                <div class="form-group">
                    <label for="DistrictId">İlçe</label>
                    <select name="DistrictId" id="DistrictId" class="form-control">
                        <option>--Seçiniz--</option>
                    </select>
                    @Html.ValidationMessageFor(m => m.DistrictId)
                </div>

                <button id="submit" type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-floppy-disk"></i>Kaydet
                </button>
            </form>
        </div>
    </div>
</div>

@section styles {
    <style>
        body {
            color: #1c2026;
        }
    </style>
}

@section scripts{
    <script src="~/Contents/js/views/student/create.js"></script>
}