@model IEnumerable<Web.Models.Student>
@{
    ViewBag.Title = "Student list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>GPA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName @employee.LastName</td>
                <td>@employee.Age</td>
                <td>@(employee.GPA ?? 0)</td>
            </tr>
        }
    </tbody>
</table>
