@model Web.Models.Student

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <h2>Öğrenci Güncelle</h2>
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label for="FirstName">Ad</label>
                    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
                <div class="form-group">
                    <label for="LastName">Soyad</label>
                    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <div class="form-group">
                    <label for="Age">Yaş</label>
                    @Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Age)
                    @*@{ var ms = ViewContext.ViewData.ModelState["Age"]; }
                        @if (ms != null && ms.Errors.Count > 0)
                        {
                            foreach (var e in ms.Errors)
                            {
                                <span class="help-block">@e.ErrorMessage</span>
                            }
                        }*@
                </div>
                <div class="form-group">
                    <label for="GPA">GPA</label>
                    @Html.EditorFor(m => m.GPA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.GPA)
                </div>

                
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-floppy-disk"></i>Kaydet</button>
                @if (IsPost && ViewData.ModelState.IsValid)
                {
                    <span class="text-success">
                        <i class="glyphicon glyphicon-ok-circle"></i> Kaydedildi
                    </span>
                }
            </form>
        </div>
    </div>
</div>